* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


h1 {
    background-color: #EA4D4B;
    color: white;
    display: flex;
    position: relative;
    height: 9vh;
    padding-top: 1rem;
    padding-left: 4rem;
}

.title1 {
    background-color: #F9CA22;
    position: relative;
    padding-top: 1rem;
    padding-left: 4rem;
}
.p1 {
    background-color: #F9CA22;
    position: relative;
    height: 23.2vh;
    padding-left: 4rem;
    padding-right: 1rem;
}

.title2 {
    background-color: #F0922B;
    position: relative;
    padding-top: 1rem;
    padding-left: 4rem;
}
.p2 {
    background-color: #F0922B;
    position: relative;
    height: 23.2vh;
    padding-left: 4rem;
    padding-right: 1rem;
}

.title3 {
    background-color: #69B04C;
    position: relative;
    padding-top: 1rem;
    padding-left: 4rem;
}
.p3 {
    background-color: #69B04C;
    position: relative;
    height: 23.2vh;
    padding-left: 4rem;
    padding-right: 1rem;
}




@media (max-width: 600px) {
    .menu {
        display: block;
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 5vw;
        top: 4vh;
    }
    h1 {
        background-color: #686DE0;
        padding-left: 1rem;
    }

    .title1 {
        background-color: #7ED6DF;
        color: white;
        position: relative;
        padding-left: 45vw;
        padding-top: 6vh;
    }
    .p1 {
        background-color: #7ED6DF;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 20vh;
    }
    
    .title2 {
        background-color: #E056FD;
        color: white;
        position: relative;
        padding-left: 45vw;
        padding-top: 6vh;
    }
    .p2 {
        background-color: #E056FD;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 20vh;
    }
    
    .title3 {
        background-color: #30336A;
        color: white;
        position: relative;
        padding-left: 45vw;
        padding-top: 6vh;
    }
    .p3 {
        background-color: #30336A;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 20vh;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        background-color: #FF6B81;
        padding-left: 45vw;
        padding-top: 3vh;
        height: 10vh;
    }

    .title1 {
        background-color: #FE4657;
        color: white;
        position: relative;
        padding-left: 2rem;
        padding-top: 2vh;
    }
    .p1 {
        background-color: #FE4657;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 35vh;
    }
    
    .title2 {
        background-color: #5352EC;
        color: white;
        position: relative;
        padding-left: 2rem;
        padding-top: 2vh;
    }
    .p2 {
        background-color: #5352EC;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 35vh;
    }
    
    .title3 {
        background-color: #3742F9;
        color: white;
        position: relative;
        padding-left: 2rem;
        padding-top: 2vh;
    }
    .p3 {
        background-color: #3742F9;
        color: white;
        position: relative;
        padding-left: 2rem;
        height: 35vh;
    }
}