* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 100%;
}

.logo, .login {
    flex: 1;
    text-align: center;
}

.nav-links {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    flex-basis: 25%;
}

.nav-links {
    flex-basis: 50%;
}

.login {
    flex-basis: 25%;
}
