* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}
#BG-img {
  position: absolute;
  top: 1;
  left: 0;
  width: 100vw;   
  height: 83.55vh;
  object-fit: cover;
  z-index: -1;    
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
#HTML {
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: 4rem;
}
#css {
  position: relative;
  left: 20rem;
  top: 4rem;
  font-size: 1rem;
  height: 30rem;
}
footer {
  width: 100%;
  height: 70px; 
  background-color: #00A8C7; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
footer p {
  font-size: 1.5rem;
}